body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    height: 100vh;
    width: 100vw;
}

.header-main {
    display: flex;
    position: fixed;
}

#logo-image {
    height: 8%;
    width: 4%;
    padding: 0 4%;
}

#faq {
    margin-left: 80vw;
    margin-top: 1%;
    font-size: 18px;
    border: 1px solid black;
    padding: 10px 10px;
    cursor: pointer;
}

#faq a {
    position: relative;
    text-decoration: none;
    color: black;
}

.faqs {
    position: absolute;
    top: 60px;
    left: 110px;
    background: #F7F5F9;
    padding-left: 408px;
    width: 51%;
}

.footer-main {
    background: #f9f9f9;
    text-align: center;
    margin-top: 8%;
}

.footer-main p a {
    color: black;
}

.container h2 {
    text-align: center;
    line-height: 1.5;
    padding-top: 8%;
    font-family: "Inconsolata";
}

.plan-card {
    display: flex;
    position: relative;
}

.cards {
    position: relative;
    width: 89%;
    min-height: 99%;
    border: 4px solid #888080;
    position: relative;
    background-color: white;
}

.plan-1 {
    width: 15%;
    border: 3px solid #888080;
    text-align: center;
    margin-top: 5%;
    margin-left: 12%;
    padding-top: 10px;
    margin-right: 5%;
    position: relative;
    font-family: Montserrat;
    /* font-size: 14px; */
}

.plan-2 {
    width: 15%;
    border: 3px solid #888080;
    text-align: center;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 1%;
    position: relative;
    padding-top: 10px;
    font-family: Montserrat;
    /* font-size: 14px; */
}

.amount-desc {
    margin-top: 80%;
}

#iunderline {
    position: relative;
    font-family: Montserrat;
    font-size: 19px;
}

#iunderline::before {
    content: '';
    position: absolute;
    background: #ECECEC;
    height: 1.5px;
    width: 150px;
    bottom: -10px;
    left: -50px;
}

#description {
    text-align: justify;
    margin: 2% 0;
    font-family: "Montserrat";
    font-size: 12px;
}

#underline {
    position: relative;
    font-size: 12px;
}

#underline::before {
    content: '';
    position: absolute;
    background: #ECECEC;
    height: 1.5px;
    width: 150px;
    bottom: -20px;
}

.additional-offer {
    margin-top: 9%;
}

.additional-offer p {
    margin: 1% 0;
    font-size: 14px;
}

.desc-start {
    padding-top: 5%;
}

#amount-description1 {
    margin-top: 65%;
    margin-bottom: 0%;
    font-size: 15px;
    font-family: "Inconsolata";
}

#amount-description2 {
    font-size: 11px;
    letter-spacing: 1px;
    font-style: italic;
}

#amount-description3 {
    margin-top: 10%;
    margin-bottom: 0%;
    font-size: 15px;
    font-family: "Inconsolata";
}

#amount-description4 {
    font-size: 11px;
    letter-spacing: 1px;
    font-style: italic;
    padding-bottom: 5%;
}

#tax {
    font-size: 10px;
}

.btn {
    position: absolute;
    color: white;
    border: none;
    font-size: 14px;
    font-weight: 600;
    left: 15%;
    top: 96%;
    padding: 10px 10px;
}

.btn-1 {
    background: #535989;
}

.btn-2 {
    background: #71775C;
}

.btn-3 {
    background: #CB5625;
}

.btn-4 {
    background: #EEA12F;
}

#amount-description {
    margin-top: 44%;
}

.you-save {
    font-size: 12px;
    margin-bottom: 0%;
    font-family: "Inconsolata";
}

.on-hover:hover .hover-item {
    display: block;
}

.on-hover {
    display: none;
    text-align: left;
    background: #f7f5f9;
    border: 1px solid #878080;
    position: absolute;
    left: 50%;
    top: 56%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 144%;
    font-size: 12px;
    padding: 15px;
}

.most-popular {
    position: absolute;
    border-radius: 300px;
    background: black;
    color: white;
    padding: 10px 10px;
    font-size: 14px;
    left: 88%;
    top: -10%;
}

@media only screen and (max-width:800px) {
    .plan-card {
        /* display: block; */
        max-width: 80%;
        margin: 2% 2%;
    }
    .cards {
        /* display: block; */
        max-width: 80%;
        margin: 2% 2%;
    }
}

.terms-1 {
    top: 103%;
    left: 10px;
    width: 13%;
    margin-left: 55%;
    margin-top: 3%;
    font-size: 11px;
}

.terms-2 {
    width: 12%;
    margin-left: 73%;
    margin-top: -3%;
    font-size: 11px;
}